:root {
    --background-color: #fff;
    --text-color: #000;
  }
  
  .dark-mode {
    --background-color: #000;
    --text-color: #fff;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }